<div id="<%= dom_id participant %>">
  <p>
    <strong>First name:</strong>
    <%= participant.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= participant.middle_name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= participant.surname %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= participant.gender %>
  </p>

  <p>
    <strong>Marital status:</strong>
    <%= participant.marital_status %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= participant.date_of_birth %>
  </p>

  <p>
    <strong>State:</strong>
    <%= participant.state %>
  </p>

  <p>
    <strong>Lga:</strong>
    <%= participant.lga %>
  </p>

  <p>
    <strong>Ward:</strong>
    <%= participant.ward %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= participant.email_address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= participant.phone_number %>
  </p>

  <p>
    <strong>Year of musabaqa:</strong>
    <%= participant.year_of_musabaqa %>
  </p>

  <p>
    <strong>Home address:</strong>
    <%= participant.home_address %>
  </p>

  <p>
    <strong>Bank name:</strong>
    <%= participant.bank_name %>
  </p>

  <p>
    <strong>Account name:</strong>
    <%= participant.account_name %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= participant.account_number %>
  </p>

  <p>
  <strong>Ticket Type:</strong>
  <%= participant.ticket_type %>
</p>

</div>
